* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    padding: 20px;
    font-family: Arial, sans-serif;
    background-color: #f4f4f9
}
.cards {
    display: flex;
    flex-wrap: wrap; 
    gap: 20px;      
    justify-content: center;
    height: 100px;
    align-items: center;
    color: g
}
.card {
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgb(3, 11, 240);
    width: 300px;
    display: flex;
    flex-direction:  column;
    overflow: hidden; 
}
.card-footer span {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    color: #271111;
}
.card img {
    width: 80%;
    height: 180px;
    object-fit: cover;
    align-self: center;
    border-radius: 12px 12px;
    margin-top: 15px;
}
.card-content {
    padding: 15px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

/* Заголовок карточки */
.card h2 {
    margin: 0 0 10px 0;
    font-size: 22px;
    color: #333;
}

/* Описание */
.card p {
    font-size: 14px;
    color: #666;
    line-height: 1.4;
    margin: 0 0 20px 0;
    flex-grow: 1; /* Выравнивает нижнюю часть, если текст разной длины */
}

/* Нижняя часть карточки (цена и кнопка в одну строку) */
.card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
}

/* Стиль цены */
.price {
    font-size: 20px;
    font-weight: bold;
    color: #333;
}

/* Стиль кнопки */
.card button {
    background-color: #008cff;
    color: #ffffff;
    border: none;
    padding: 10px 18px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s ease;
    box-shadow: 0 4px 6px rgb(1, 17, 236);
}

/* Эффект при наведении на кнопку */
.card button:hover {
    background-color: #007bff;
}